.app-content {
  height: 100vh;
  padding-top: 10vh;
  background-color: #000000;
}

.app-header {
  background-color: #373737;
  height: 10vh;
  padding: 0px;
  margin: 0px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.app-row {
  height: 100vh;
  background-color: #000000;
}