.logo__row {
    height: 100%;
    width: 100%;
    background-color: blue;
    text-align: center;
    justify-content: center;
}
.logo {
    text-align: center;
    font-size: 25px;
    height: 50%;
    width: 50%;
    background-color: blueviolet;
    top: 150px;
    position: relative;
}