.title__row {
    height: 20%;
    padding-top: 5%;
    padding-left: 10%;
}

.title {
    font-size: 50px;
}

.cyan {
    color: #30D6E0;
}

.about-us-row {
    padding-left: 10%;
}

.profiles {
    height: 80%;
    padding-left: 10%;
}

.white {
    color: white;
}