.ss-button {
    float: right;
    min-width: 25% !important;
    min-height: 8% !important;
    text-align: left !important;
    font-weight: bolder !important;
    font-size: 62% !important;
    margin: 5px !important;
    /* padding-left: 0.5% !important; */
    top: 25% !important;
    right: 10px;
}

.white {
    color: #FFFFFF !important;
}

.red {
    color: #FF5454 !important;
    font-size: 100%;
}

.black{
    color: #000000 !important;
    font-size: 100%;
}

.cyan {
    color: #30D6E0 !important;
    font-size: 100%;
}

.red-button {
    background-color: #FF5454 !important;
    border-color: #FF5454 !important;
}

.black-button {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.cyan-button {
  background-color: #30D6E0 !important;
  border-color: #30D6E0 !important;
}